.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
}

.login-form {
  display: flex;
  flex-direction: column;
}

input {
  margin-bottom: 10px;
  padding: 5px;
  width: 300px;
}

button {
  padding: 8px;
  background-color: black;
  border: 0;
  color: white;
}

.error-message {
  width: 300px;
  padding: 5px;
  margin-top: 20px;
  color: orangered;
  text-align: center;
  border: 1px solid brown;
}
